// ProximaNova

@font-face {
  font-family: 'ProximaNova-Semibold';
  src: url('../fonts/ProximaNova/ProximaNova-Semibold.eot') format('embedded-opentype'),  
       url('../fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff'), 
       url('../fonts/ProximaNova/ProximaNova-Semibold.ttf')  format('truetype'), 
       url('../fonts/ProximaNova/ProximaNova-Semibold.svg') format('svg');
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url('../fonts/ProximaNova/ProximaNova-Regular.eot') format('embedded-opentype'),  
       url('../fonts/ProximaNova/ProximaNova-Regular.woff') format('woff'), 
       url('../fonts/ProximaNova/ProximaNova-Regular.ttf')  format('truetype'), 
       url('../fonts/ProximaNova/ProximaNova-Regular.svg') format('svg');
}
